@model List<LMS.Domain.ViewModels.StudentAttendanceViewModel>

@{
    ViewData["Title"] = "Attendances";
    Layout = "~/Areas/Students/Views/Shared/_Studentayout.cshtml";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2><b>Attendance List</b></h2>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <table id="studentAttendance" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Session Name</th>
                                    <th>Subject Name</th>
                                    <th>Session Date</th>
                                    <th>Status</th>
                                    @*<th>View</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Session_Name</td>
                                        <td>@item.Subject_Name</td>
                                        <td>@item.Session_Date.ToShortDateString()</td>
                                        <td>@item.Attendance_Status</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="clearfix">

                        </div>
                    </div>


                    

                </div>





            </div>
        </div>
    </div>
</div>




<footer class="footer">
    <div class=" container-fluid ">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        APEX E-LEARNING
                    </a>
                </li>
                @*<li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>*@
            </ul>
        </nav>
        <div class="copyright" id="copyright">
            &copy;
            <script>
                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed by and Developed by <a href="http://www.isenrichment.org/" target="_blank">ISE</a>.
        </div>
    </div>
</footer>


<!--   Core JS Files   -->
<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>
<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {



        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();


        

        $('#studentAttendance').DataTable();

    });
</script>



