@model LMS.Domain.ViewModels.LectureViewModel
@{
    ViewData["Title"] = "AddLecture";
    Layout = "~/Areas/Teachers/Views/Shared/_TeacherLayout.cshtml";
}


<div class="Dashboard" id="Dashboard">
    
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">Lecture Add</h5>
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" asp-controller="Lecture" asp-action="AddLecture">
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Class Name</label>
                                        <select id="ddlClass" asp-for="Class_Id" class="form-control" asp-items="@(new SelectList(ViewBag.ClassList, "Class_Id", "Class_Name"))"></select>
                                    </div>
                                </div>
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Section Name</label>
                                        <select id="ddlSection" asp-for="Section_Id" class="form-control" asp-items="@(new SelectList(ViewBag.SectionList, "Section_Id", "Section_Name"))"></select>
                                    </div>
                                </div>
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Subject Name</label>
                                        <select id="ddlSubject" asp-for="Subject_Id" class="form-control" asp-items="@(new SelectList(ViewBag.SubjectList, "Subject_Id", "Subject_Name"))"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input asp-for="LecturePost_Date" class="form-control">
                                        @*<input class="form-control" type="datetime-local" id="birthdaytime" name="birthdaytime">*@
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>Lecture Name</label>
                                        <input asp-for="Lecture_Name" autocomplete="off" class="form-control" placeholder="Lecture Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Details</label>
                                        <input asp-for="Lecture_Detail" autocomplete="off" class="form-control" placeholder="Lecture Details">
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>File Upload</label>

                    <input asp-for="Lecture_File" class="form-control" style="opacity: 1; height:28px; width:215px; border:1px solid;margin-top:10px;">
                    <input asp-for="Lecture_File" type="file" name="files" onchange="readURL(this);" style="opacity: 1; height:28px; width:215px; border:1px solid;margin-top:10px;" />
                    <input asp-for="Lecture_File" class="form-control" type="file" name="files" style="opacity: 1; height:28px; width:215px; border:1px solid;margin-top:10px;" />
                </div>

            </div>

        </div>*@
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label>FIle Upload</label>

                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4">
                                            <input asp-for="Lecture_File" style="opacity: 1; height:28px; width:215px; border:1px solid;margin-top:0px; margin-left: -25px;" />

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <br />
                            <br />
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>