
@{
    Layout = null;
}




<form method="get" asp-controller="Login" asp-action="profile">
    <div class="input-group">
        <input type="text" class="form-control" name="keyword" placeholder="Search" aria-label="Search">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit"><i class="icon-magnifier"></i></button>
        </span>
    </div>
</form>





