
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Students/Views/Shared/_Studentayout.cshtml";
}

@*<div class="panel-header panel-header-lg" style="background-image:url(/dashboard/assets/img/stdheader.png);">
    <canvas id="bigDashboardChart"></canvas>
</div>*@
<div class="panel-header panel-header-lg">
    <h1 style="color: #fff;font-size: 3em;text-align: justify;padding: 4% 8%;">
        Start from where your <span style="    color: #b58e5a;
        font-weight: bold;">Students</span> are,
        not where you would like them to be.
        <span style="display: block;
        text-align: right;
        font-size: 21px;">(-Dylan William)</span>
    </h1>
</div>
<div class="content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h5 class="card-category"></h5>
                            <h4 class="card-title">Total Subjects</h4>
                        </div>
                        <div class="card-body">
                            <h1>8</h1>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h5 class="card-category"></h5>
                            <h4 class="card-title">Total Assessments</h4>
                        </div>
                        <div class="card-body">
                            <h1>@ViewBag.Assessments</h1>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h5 class="card-category"></h5>
                            <h4 class="card-title">Total Leture</h4>
                        </div>
                        <div class="card-body">
                            <h1>15</h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="card  card-tasks">

                        <div class="card-header ">
                            @*<h5 class="card-category">Backend development</h5>*@
                            <h4 class="card-title">Announcements</h4>
                        </div>

                        <div class="card-body">
                            @foreach (var item in ViewBag.Announcements)
                            {
                                <div class="alert alert-info alert-with-icon" data-notify="container">
                                    <button type="button" aria-hidden="true" class="close"></button>
                                    <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
                                    <span data-notify="message">@item.Announcement_Detail</span>
                                </div>
                            }




                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            @*<h5 class="card-category">All Persons List</h5>*@
                            <h4 class="card-title"> Recent Lectures</h4>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        @foreach (var item in ViewBag.RecentLecture)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <img src="~/Dashboard/assets/img/lectureIcon.png" height="50" />
                                                            @*<img src="@item.Lecture_File" height="50" />*@

                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="text-left">@item.Lecture_Name</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }



                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




<footer class="footer">
    <div class=" container-fluid ">
        <nav>
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="http://presentation.creative-tim.com">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright" id="copyright">
            ©
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>2020, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
</footer>


