
@{
    Layout = null;
}


<div class="sidebar-wrapper ps" id="sidebar-wrapper">
    <ul class="nav navigation">
        <li class="active">
            <a asp-area="teachers" asp-controller="dashboard" asp-action="index">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="has-child">
            <a href="#">
                <i class="now-ui-icons design_app"></i>

                <p>Classes </p>
            </a>
            <ul>
                @foreach (var TeacherClasses in Model)
                {
                    <li><a asp-area="teachers" asp-controller="Class" asp-action="Subjects" asp-route-ClassSectionId="@TeacherClasses.ClassSection_Id">Class - @TeacherClasses.Class_Name @TeacherClasses.Section_Name </a></li>
                }

            </ul>


        </li>

        <li class="has-child">
            <a asp-area="teachers" asp-controller="lecture" asp-action="index">
                <i class="now-ui-icons design_app"></i>

                <p>Lesson List </p>
            </a>

        </li>

        <li class="has-child">
            <a href="#">
                <i class="now-ui-icons design_app"></i>
                <p>Attendance</p>
            </a>
            <ul>
                <li><a asp-area="teachers" asp-controller="attendance" asp-action="session">Session</a></li>
            </ul>
            <ul>
                <li><a asp-area="teachers" asp-controller="attendance" asp-action="attendanceDeatils">Attendance List</a></li>
            </ul>
        </li>

        <li class="has-child">
            <a href="#">
                <i class="now-ui-icons design_app"></i>
                <p>Online Assessment</p>
            </a>
            <ul>
                <li><a asp-area="teachers" asp-controller="test" asp-action="assessments">Assessment Type</a></li>
                <li><a asp-area="teachers" asp-controller="test" asp-action="index">Assessment List</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="now-ui-icons design_app"></i>
                <p>Grades</p>
            </a>
        </li>
        <li>
            <a asp-area="teachers" asp-controller="announcement" asp-action="index">
                <i class="now-ui-icons design_app"></i>
                <p>Announcements</p>
            </a>
        </li>
        <li class="has-child">
            <a href="#">
                <i class="now-ui-icons education_atom"></i>
                <p>Virtual Library </p>
            </a>
            <ul>
                <li><a asp-controller="Library" asp-action="addBook">Add Item</a></li>
                <li><a asp-controller="Library" asp-action="Index">Library</a></li>
            </ul>


        </li>




    </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
</div>
