@model LMS.Domain.Teacher

@{
    ViewData["Title"] = "AddTeacher";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2><b>Add Teacher</b></h2>
                                    </div>

                                </div>
                            </div>


                            <div class="row">

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="title">Create Profile</h5>
                                    </div>
                                    <div class="card-body">
                                        <form asp-action="addTeacher" enctype="multipart/form-data" id="addForm">
                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Teacher ID</label>
                                                        <input type="text" class="form-control" placeholder="Teacher ID" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-1">

                                                </div>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <img id="teacher_image" src="~/Dashboard/assets/img/default-avatar.png" style="width:150px; height:170px; margin-left:50px;" class="img-thumbnail">


                                                        <div class="row">
                                                            <div class="col-md-2">

                                                            </div>
                                                            <div class="col-md-4">
                                                                <input asp-for="Teacher_Photo" type="file" name="files" onchange="readURL(this);" style="opacity: 1; height:28px; width:215px; border:1px solid;margin-top:10px;" />

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Teacher Name *</label>
                                                        <input id="Teacher_Name" asp-for="Teacher_Name" type="text" class="form-control" placeholder="Teacher Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <label>Father Name</label>
                                                        <input asp-for="Teacher_FatherName" type="text" class="form-control" placeholder="Father Name">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Teacher CNIC *</label>
                                                        <input id="Teacher_Cnic" asp-for="Teacher_Cnic" type="text" class="form-control" placeholder="CNIC">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Date OF Birth</label>
                                                        <input asp-for="Teacher_DOB" class="form-control" type="date" data-val="true" data-val-required="The Teacher_DOB field is required." id="Teacher_DOB" name="Teacher_DOB">
                                                    </div>
                                                </div>

                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group" style="color:#9A9A9A;">
                                                        <label>Gender *</label><br>
                                                        Male&nbsp;&nbsp; <input asp-for="Teacher_Gender" name="Teacher_Gender" type="radio" value="Male" checked>  &nbsp;
                                                        Female&nbsp;&nbsp;  <input asp-for="Teacher_Gender" name="Teacher_Gender" type="radio" value="Female">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Email (Login Id) *</label>
                                                        <input id="Teacher_Email" asp-for="Teacher_Email" type="email" class="form-control" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>Mobile Number *</label>
                                                        <input id="Teacher_MobNumber" asp-for="Teacher_MobNumber" type="text" class="form-control" placeholder="Mobile Number">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>Password *</label>
                                                        <input asp-for="Teacher_Password" type="text" class="form-control" placeholder="Password" value="Teacher@123" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Designation *</label>
                                                        <input id="Teacher_Designation" asp-for="Teacher_Designation" type="text" class="form-control" placeholder="Designation">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>Department *</label>
                                                        <input id="Teacher_Department" asp-for="Teacher_Department" type="text" class="form-control" placeholder="Department">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>Latest Degree</label>
                                                        <input asp-for="Teacher_LastDegree" type="text" class="form-control" placeholder="Latest Degree">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 pr-1">
                                                    <div class="form-group">
                                                        <label>Current Address</label>
                                                        <input asp-for="Teacher_CurrentAddress" type="text" class="form-control" placeholder="Current Address">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 pr-1">
                                                    <div class="form-group">
                                                        <label>Permanent Address</label>
                                                        <input asp-for="Teacher_PermenentAddress" type="text" class="form-control" placeholder="Permanent Address">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Home Phone </label>
                                                        <input asp-for="Teacher_HomePhone" type="text" class="form-control" placeholder="Home Phone">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>City</label>
                                                        <input asp-for="Teacher_City" type="text" class="form-control" placeholder="City">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>Country</label>
                                                        <input asp-for="Teacher_Country" type="text" class="form-control" placeholder="Country">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <input type="submit" value="Create" class="btn btn-primary" />
                                                    </div>
                                                </div>


                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>




                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class=" container-fluid ">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            APEX E-LEARNING
                        </a>
                    </li>
                    @*<li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>*@
                </ul>
            </nav>
            <div class="copyright" id="copyright">
                &copy;
                <script>
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                </script>, Designed by and Developed by <a href="http://www.isenrichment.org/" target="_blank">ISE</a>.
            </div>
        </div>
    </footer>
</div>







<!--   Core JS Files   -->
<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>
<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>
<link href="~/Dashboard/assets/js/toastr/toastr.css" rel="stylesheet" />
<script src="~/Dashboard/assets/js/toastr/toastr.js"></script>

<script>
    $(document).ready(function () {

        toastr.options = {
            "positionClass": "toast-top-center",
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
        };



        var messageError = '@(ViewBag.Error)';
        var messageSuccess = '@(ViewBag.Success)';
        

        if (messageSuccess.length > 0) {
            
            toastr.success(messageSuccess);
        }
        else if (messageError.length > 0)  {
            toastr.error(messageError);
        }

        
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();


        //Check If Mandatory Fields are Filled Or Not
        $("#addForm").submit(function (event) {

          

            var TeacherName = $('#Teacher_Name').val();
            var TeacherCnic = $('#Teacher_Cnic').val();
            var TeacherEmail = $('#Teacher_Email').val();
            var TeacherMobNumber = $('#Teacher_MobNumber').val();
            var TeacherDesignation = $('#Teacher_Designation').val();
            var TeacherDepartment = $('#Teacher_Department').val();

           

            //Regex for Valid Characters i.e. Alphabets and Numbers.
            var letters = /^[a-zA-Z ]+$/;
            var cnic = /^[0-9-]+$/;
            var email = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

            if (TeacherName.length < 0 || !(TeacherName.match(letters))) {

                event.preventDefault();
                toastr.error("Cannot Insert Numeric And Special Characters Into Name");

            }
            if (TeacherCnic.length < 0 || !(TeacherCnic.match(cnic))) {

                event.preventDefault();
                toastr.error("Cannot Insert Alphabet And Special Characters Into Cnic");

            }
            if (TeacherEmail.length < 0 || !(TeacherEmail.match(email))) {

                event.preventDefault();
                toastr.error("Incorrect Email Format");

            }
            if (TeacherMobNumber.length < 0 || !(TeacherMobNumber.match(cnic))) {

                event.preventDefault();
                toastr.error("Cannot Insert Alphabet And Special Characters Into MibileNumber");

            }
            if (TeacherDesignation.length < 0 || !(TeacherDesignation.match(letters))) {

                event.preventDefault();
                toastr.error("Cannot Insert Numeric And Special Characters Into Designation");

            }
            if (TeacherDepartment.length < 0 || !(TeacherDepartment.match(letters))) {

                event.preventDefault();
                toastr.error("Cannot Insert Numeric And Special Characters Into Department");

            }

        });


    });




    //function to show imae in div after browse
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#teacher_image')
                    .attr('src', e.target.result)
                // .width(150)
                // .height(170)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }


</script>