@model LMS.Domain.Student

@{
    ViewData["Title"] = "EditStudent";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboard" id="dashboard">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="#pablo">Student Info</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <form>
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <i class="now-ui-icons media-2_sound-wave"></i>
                            <p>
                                <span class="d-lg-none d-md-block">Stats</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="now-ui-icons location_world"></i>
                            <p>
                                <span class="d-lg-none d-md-block">Some Actions</span>
                            </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>
                                <span class="d-lg-none d-md-block">Account</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="container-fluid">
                        <div class="table-responsive">
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2>Add <b>Student</b></h2>
                                        </div>
                                        <div class="col-md-6 pull-right">
                                            @* <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Teacher</span></a>*@
                                            @* <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>*@
                                        </div>
                                    </div>
                                </div>


                                <!-- <div class="clearfix"> -->
                                <!-- </div> -->

                                <div class="row">

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="title">Edit Profile</h5>
                                        </div>
                                        <div class="card-body">
                                            <form asp-action="editStudent" enctype="multipart/form-data">
                                                <input hidden asp-for="Student_Id" />
                                                <div class="row">
                                                    <div class="col-md-4 pr-1">
                                                        <div class="form-group">
                                                            <label>Student ID</label>
                                                            <input asp-for="Student_Id" type="text" class="form-control" placeholder="Student ID" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 px-1">
                                                        <!-- <div class="form-group"> -->
                                                        <!-- <label>Teacher Name</label> -->
                                                        <!-- <input type="text" class="form-control" placeholder="Username" value="michael23"> -->
                                                        <!-- </div> -->
                                                    </div>
                                                    <div class="col-md-4 pl-1">
                                                        <div class="form-group">
                                                            <img src="@Model.Student_Photo" style="width:150px; height:170px; margin-left:50px;" class="img-thumbnail">


                                                            <div class="row">
                                                                <div class="col-md-2">

                                                                </div>
                                                                <div class="col-md-4">
                                                                    <input asp-for="Student_Photo" type="file" name="files" style="opacity: 1; height:28px; width:215px; border:1px solid;margin-top:10px;" />
                                                                    @* <input asp-for="Teacher_Photo" type="file" name="files" style="opacity: 1; height:28px; width:215px; border:1px solid;margin-top:10px;">*@

                                                                    <!-- <input type="file" name="imageFile" class="btn btn-default btn-sm valid"> -->
                                                                    <!-- <button type="button" id="ubutton" class="btn btn-default btn-sm">Upload</button> -->
                                                                    <!-- <button type="button" id="ubutton" class="btn btn-default btn-sm">Upload</button> -->
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 pr-1">
                                                        <div class="form-group">
                                                            <label>Student Name</label>
                                                            <input asp-for="Student_Name" type="text" class="form-control" placeholder="Student Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 pl-1">
                                                        <div class="form-group">
                                                            <label>Father Name</label>
                                                            <input asp-for="Student_FatherName" type="text" class="form-control" placeholder="Father Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Student CNIC</label>
                                                            <input asp-for="Student_Cnic" type="text" class="form-control" placeholder="CNIC">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 pl-1">
                                                        <div class="form-group">
                                                            <label>Date Of Birth</label>
                                                            <input asp-for="Student_DOB" type="text" class="form-control" placeholder="DOB">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 pl-1">
                                                        <div class="form-group" style="color:#9A9A9A;">
                                                            <label>Gender</label><br>
                                                            Male&nbsp;&nbsp; <input asp-for="Student_Gender" name="Student_Gender" type="radio" value="Male" checked>  &nbsp;
                                                            Female&nbsp;&nbsp;  <input asp-for="Student_Gender" name="Student_Gender" type="radio" value="Female">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4 pr-1">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input asp-for="Student_Email" type="text" class="form-control" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 px-1">
                                                        <div class="form-group">
                                                            <label>Mobile Number</label>
                                                            <input asp-for="Student_MobNumber" type="text" class="form-control" placeholder="Mobile Number">
                                                        </div>
                                                    </div>

                                                </div>

                                                @*<div class="row">
                                                    <div class="col-md-4 pr-1">
                                                        <div class="form-group">
                                                            <label>Designation</label>
                                                            <input asp-for="Teacher_Designation" type="text" class="form-control" placeholder="Designation">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 px-1">
                                                        <div class="form-group">
                                                            <label>Department</label>
                                                            <input asp-for="Teacher_Department" type="text" class="form-control" placeholder="Department">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 px-1">
                                                        <div class="form-group">
                                                            <label>Latest Degree</label>
                                                            <input asp-for="Teacher_LastDegree" type="text" class="form-control" placeholder="Latest Degree">
                                                        </div>
                                                    </div>

                                                </div>*@

                                                <div class="row">
                                                    <div class="col-md-12 pr-1">
                                                        <div class="form-group">
                                                            <label>Current Address</label>
                                                            <input asp-for="Student_CurrentAddress" type="text" class="form-control" placeholder="Current Address">
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12 pr-1">
                                                        <div class="form-group">
                                                            <label>Permanent Address</label>
                                                            <input asp-for="Student_PermenentAddress" type="text" class="form-control" placeholder="Permanent Address">
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4 pr-1">
                                                        <div class="form-group">
                                                            <label>Home Phone </label>
                                                            <input asp-for="Student_HomePhone" type="text" class="form-control" placeholder="Home Phone">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 px-1">
                                                        <div class="form-group">
                                                            <label>City</label>
                                                            <input asp-for="Student_City" type="text" class="form-control" placeholder="City">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 px-1">
                                                        <div class="form-group">
                                                            <label>Country</label>
                                                            <input asp-for="Student_Country" type="text" class="form-control" placeholder="Country">
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4 pr-1">
                                                        <div class="form-group">
                                                            <input type="submit" value="Update" class="btn btn-primary" />
                                                        </div>
                                                    </div>


                                                </div>

                                            </form>
                                        </div>
                                    </div>

                                </div>




                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer class="footer">
        <div class=" container-fluid ">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Karachi Grammar School
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright" id="copyright">
                &copy;
                <script>
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>


<!--   Core JS Files   -->
<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>
<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>
@*<script src="~/Dashboard/assets/js/navigation.js"></script>*@
<script>
    $(document).ready(function () {

        //$('#classpage').DataTable();
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();


        //Get Class_Id for Delete Added By Absar
        //$('#classpage #delete').on('click', function () {
        //    var Class_Id = $(this).parent().find('.Class_Id').val();
        //    $('#deleteClassModal #Class_Id').val(Class_Id);
        //});

        //Get Class_Id for Edit Added By Absar
        //$('#classpage #edit').on('click', function () {
        //    var id = $(this).parent().find('.Class_Id').val();
        //    $.ajax({

        //        type: 'GET',
        //        url: '/admin/class/editClass/' + id,
        //        success: function (objClass) {
        //            //debugger;
        //            // objClass = JSON.stringify(objClass);

        //            //alert(objClass);
        //            $('#editClassModal #Class_Id').val(objClass.class_Id);
        //            $('#editClassModal #Class_Name').val(objClass.class_Name);

        //        }
        //    });
        //});

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
            if (this.checked) {
                checkbox.each(function () {
                    this.checked = true;
                });
            } else {
                checkbox.each(function () {
                    this.checked = false;
                });
            }
        });
        checkbox.click(function () {
            if (!this.checked) {
                $("#selectAll").prop("checked", false);
            }
        });
    });
</script>